body {
  --color-brand-100: #9494ff;
  --color-brand-50: #7676b7;
  --color-p-1: #ffb000;
  --color-p2: #25b79f;
  --color-bg-100: #ffffff;
  --color-bg-50: #f8f8f8;
  --color-bg-25: #4a4a4a;
  --color-border-black: #979797;
  --color-border-accent: #ffb000;
  --color-text: #4a4a4a;
}