.game {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 24px;
    padding: 45px;
}

@media screen and (max-width: 960px) {
    .game {
        grid-template-columns: 100%;
        padding: 24px;
    }

    .game > *:nth-child(1) {
        order: 2;
    }

    .game > *:nth-child(2) {
        order: 1;
    }
}

@media screen and (max-width: 480px) {
    .game {
        grid-template-columns: 100%;
        padding: 0;
    }
}